<%- include('../../partials/header.ejs') %>

<h1>Generador d'adreces de vanitat</h1>

<h2>Parell Generat</h2>
    <div class="result">
        <h3>Adreça pública:</h3>
        <p><%= adreça%></p>
        <h3>Clau privada:</h3>
        <p><%= clau_privada %></p>
    </div>
    

<%- include('../../partials/footer.ejs') %>